/* custom CSS for my personal website */
body {
	background-color: #b0d0f0;
	color: #222;
	font-family: sans-serif;
	text-align:center;
}

@media all and (min-width: 1339px) { 
	div.container {
		width: 1300px;
	}
}

@media all and (max-width: 1338px) { 
	div.container {
		width: 700px;
	}
}

@media all and (max-width: 738px) {
	div.container {
		width: 443px;
	}
}

@media all and (max-width: 480px) {
	body {
		padding:10px;
		background-color: #b7d7f7;
	}

	div.container {
		width: 100%;
		margin:0px !important;
		padding:0px !important;
		border: none !important;
	}
}


div.container {
	height:100vh;
	border-left: 1px solid #90a0c0;
	border-right: 1px solid #90a0c0;
	background-color: #b7d7f7;
	padding:10px;
	margin:auto;
	text-align:left;
}

div.profile-info {
}

.profile-info h1 {
	text-align: center;
	margin: 0px;
}

.profile-info h3 {
	text-align: center;
	margin: 0px;
	font-weight:normal;
}

.profile-info ul{
	list-style-type: none;
	padding-left:0px;
}

.profile-content p {
	text-align: justify;
}