/* custom CSS for my personal website */
/* colors: https://coolors.co/38004c-5a267f-c6b8ed-ff6201-ed8d34 */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	background-color: #fff;
	color: #000;
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

#top-banner {
	background: #0e94c8;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0e73c8, #0e94c8);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0e73c8, #0e94c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	z-index: 4;
	transform: translate(0px,-100vh);
	text-align: left;
}

#top-banner a {
	color: #fff;
}

#top-banner .container {
	height: 60px;
}

#top-banner .minilogo {
	position: relative;
	top: 10px;
	left: 3px;
}

#top-banner h1 {
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 0px;
	height: 20px;
	display: inline-block;
	float: left;
	position: absolute;
}

#top-banner .customSelect {
	float: right;
	margin-top: 15px;
	margin-right: 7px;
}

.customSelect {
	background: transparent;
	border-color: #fff;
	border-bottom: 2px solid;
	width: 88px;
	overflow: hidden;
	position: relative;
}

.customSelect::after {
   content: '';
   position: absolute;
   width: 8px;
   height: 8px;
   border-left: 2px solid #fff;
   border-bottom: 2px solid #fff;
   top: 5px;
   right: 5px;
   pointer-events: none;
   transform: rotate(-45deg);
}

.customSelect select {
	border: none;
	width: 108px;
	color: #fff;
	position: relative;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	background-color: #0e94c8;
}

div.container {
	margin: auto;
}

#content {
	margin-top: 80px;
	z-index: 1;
}

div.card {
	background-color: #fff;
	color: #444;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
  border-radius: 2px;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	z-index: 2;
	transform: translate(-100vw,0px);
}

div.card a {
	color: #0e73c8;
	text-decoration: none;
}

div.card a:hover {
	color: #60b0f4;
}

div#links {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

ul.horizontal-list {
	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
}

ul.horizontal-list li {
	white-space: nowrap;
}

ul.horizontal-list li:last-child {
	margin-right: 0px;
}

.fa-width-fixer {
	width: 17px;
	display: inline-block;
	text-align: center;
}

#profile-content p {
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}

/* media queries */
@media all and (min-width: 1019px) {
	div.container {
		width: 1000px;
	}

	ul.horizontal-list li {
		display: inline;
		margin-right: 70px;
	}
}

@media all and (max-width: 1018px) {
	div.container {
		width: 700px;
	}

	ul.horizontal-list li {
		display: inline;
		margin-right: 20px;
	}
}

@media all and (max-width: 718px) {
	div.container {
		width: 386px;
	}

	ul.horizontal-list li {
		display: inline;
		margin-right: 10px;
	}
}

@media all and (max-width: 404px) {
	#top-banner {
		transition: all 0.225s cubic-bezier(.25,.8,.25,1);
	}

	#top-banner h1 {
		padding-top: 13px;
		font-size: 1.5em;
	}

	div.container {
		width: 95%;
	}

	div#links {
		text-align: left;
	}

	div.card {
		transition: all 0.225s cubic-bezier(.25,.8,.25,1);
	}

	ul.horizontal-list li {
		display: block;
	}
}
