body {
  font-family: monospace;
  background-color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;
  min-height: 100vh;
  font-weight: bold;
  overflow: hidden;
}

div#moly {
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  word-wrap: break-word;
  position: relative;
  transform: rotate(20deg);
  animation: moly 64s ease-in-out 45s infinite;
}

span {
  display: inline-block;
  position: relative;
}

span:nth-child(even) {
  animation:
   particle-even 1.5s linear 0s 6,
   particle-even 9s steps(9, end) 9s 1,
   particle-even 3s cubic-bezier(1, 0.3, 0.8, 1) 18s 2,
   particle-even 3s ease-out 24s 2,
   particle-even 3s ease-in 30s 2,
   particle-even 4s ease-in-out 36s infinite;
}

span:nth-child(odd) {
  animation:
   particle-odd 1.5s linear 0s 6,
   particle-odd 9s steps(9, end) 9s 1,
   particle-odd 3s cubic-bezier(1, 0.3, 0.8, 1)  18s 2,
   particle-odd 3s ease-out 24s 2,
   particle-odd 3s ease-in 30s 2,
   particle-odd 4s ease-in-out 36s infinite;
}
 
@keyframes particle-even {
  from  {
    top: 30vh;
    transform: rotate(360deg);
    font-weight: bold;
    font-size: 16px;
    color: #46C2FF;
  } 25% {
    transform: rotate(270deg);
    font-weight: normal;
    font-size: 10px;
    color: #2D7CA3;
    opacity: 0.7;
  } 50% {
    top: 60vh;
    transform: rotate(180deg);
    font-weight: bold;
    font-size: 16px;
    color: #46C2FF;
  } 75% {
    transform: rotate(90deg);
    font-weight: bold;
    font-size: 22px;
    color: #89D8FF;
  } to {
    top: 30vh;
    transform: rotate(0deg);
    font-weight: bold;
    font-size: 16px;
    color: #46C2FF;
  }
}
 
@keyframes particle-odd {
  from  {
    top: 60vh;
    transform: rotate(180deg);
    font-weight: bold;
    font-size: 16px;
    color: #8246FF;
  } 25% {
    transform: rotate(90deg);
    font-weight: bold;
    font-size: 22px;
    color: #AF89FF;
  } 50% {
    top: 30vh;
    transform: rotate(0deg);
    font-weight: bold;
    font-size: 16px;
    color: #8246FF;
  } 75% {
    transform: rotate(-90deg);
    font-weight: normal;
    font-size: 10px;
    color: #532DA3;
    opacity: 0.7;
  } to {
    top: 60vh;
    transform: rotate(-180deg);
    font-weight: bold;
    font-size: 16px;
    color: #8246FF;
  }
}

@keyframes moly {
  from {
    transform:
     rotate(20deg)
  } 20% {
    opacity: 0.9;
    text-shadow: 0 0 6px #fff;
    transform:
     rotate(120deg)
     scale(.95)
  } 40% {
    opacity: 0.75;
    text-shadow: 0 0 6px #fff, 0 0 10px #fff;
    transform:
     rotate(200deg)
     scale(1)
  } 50% {
    opacity: 0.9;
    text-shadow: 0 0 6px #fff;
    transform:
     rotate(110deg)
     scale(1.2)
     perspective(80vw)
     rotateY(10deg)
     translate(5vw, 2vh)
  } 60% {
    opacity: 0.9;
    text-shadow: 0 0 6px #fff;
    transform:
     rotate(40deg)
     scale(1.1)
     perspective(65vw)
     rotateY(25deg)
     translate(15vw, 5vh)
  } 80% {
    opacity: 1;
    text-shadow: none;
    transform:
     rotate(-60deg)
     scale(.9)
     perspective(80vw)
     rotateY(10deg)
     translate(5vw, 2vh)
  } to {
    opacity: 1;
    text-shadow: none;
    transform:
     rotate(20deg)
     scale(1)
     perspective(100vw)
     rotateY(0deg)
     translate(0vw, 0vh)
  }
}
