@keyframes uwu {
  from {
    background-color: #000;
    height: 100vh;
    width: 100vw;
  }
  30% {
    background-color: #9932CC;
    height: 100vh;
    width: 100vw;
  }
  to {
    background-color: #000;
    height: 1vh;
    width: 1vw;
  }
}

body {
  color: #fff;
  font-family: monospace;
  background-color: #000;
  cursor: help;
}

div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: uwu 15s cubic-bezier(1, 0.3, 0.8, 1) 3s infinite;
}
